.content {
    padding: 2rem 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.content-item {
    border: #333333 solid 1px;
    border-radius: 25px;
    padding: 1.2rem;
    margin: 2rem 0;
    width: 400px;
    min-height: 200px;
}

.content-information {
    font-size: smaller;
}

.admin-button {
    padding: 0 0.5rem;
}

h2 {
    margin-bottom: 0;}

.content-form {
    width: 350px;
    padding: 20px;
}

.content-form-input {
    width: 100%;
}

.content-form-radio {
    margin: 0 1rem 0 0;
}

.validation-error {
    color: red;
    font-size: larger;
}

.content-inner {
    padding: 20px 0 0 20px;
}

.content-submit {
    margin: 1rem 0;
}

.user-column {
    padding: 0 40px 0 0;
}

.introduction {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    width: 50vw;
}

.header-title {
    text-align: center;
    background-color: #CC7178;
    padding: 1rem 0;
    margin: 0;
}

.header-title a {
    color: white
}

.header-title a:hover {
    text-decoration: none;
    color: white;
}

/* Style the top navigation bar */
.header-nav {
    display: flex;
    background-color: #89023E;
    padding: 0.5rem;
    justify-content: space-between;
}

/* Style the navigation links */
.header-link {
    color: #f2f2f2;
    text-align: center;
    padding: 0.5rem 16px;
}

/* Change color on hover */
.header-nav a:hover {
    background-color: #9e0447;
    color: white;
    text-decoration: none;
}

footer {
    margin: 2rem;
}

.wrapper {
    width: 350px;
    padding: 20px;
}

.help-block {
    color: red;
}