#content {
    padding: 2rem 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.content-item {
    border: #333333 solid 1px;
    border-radius: 25px;
    padding: 1.2rem;
    width: 400px;
    height: 200px;
}

.content-information {
    font-size: smaller;
}

.admin-button {
    padding: 0 0.5rem;
}

h2 {
    margin-bottom: 0;}

.content-form {
    width: 350px;
    padding: 20px;
}

.content-form-input {
    width: 100%;
}

.content-form-radio {
    margin: 0 1rem 0 0;
}

.validation-error {
    color: red;
    font-size: larger;
}

.content-inner {
    padding: 20px 0 0 20px;
}

.content-submit {
    margin: 1rem 0;
}

.user-column {
    padding: 0 40px 0 0;
}