.header-title {
    text-align: center;
    background-color: #CC7178;
    padding: 1rem 0;
    margin: 0;
}

.header-title a {
    color: white
}

.header-title a:hover {
    text-decoration: none
}

/* Style the top navigation bar */
.header-nav {
    display: flex;
    background-color: #89023E;
    padding: 0.5rem;
    justify-content: space-between;
}

/* Style the navigation links */
.header-link {
    color: #f2f2f2;
    text-align: center;
    padding: 0.5rem 16px;
}

/* Change color on hover */
.header-nav a:hover {
    background-color: #ddd;
    color: black;
}